<div class="row">
    <div class="col-xs-12">
        <h3>Foursquare Venue Search</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" role="form">
            <div class="form-group col-xs-12 col-sm-5">
                <label class="sr-only" for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="city" ng-model="city">
            </div>
            <div class="form-group col-xs-12 col-sm-5">
                <label class="sr-only" for="query">Query</label>
                <input type="text" class="form-control" id="query" placeholder="query" ng-model="query">
            </div>
            <div class="col-xs-12 col-sm-2">
                <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
            </div>
        </form>
    </div>
</div>
        <br>
<div class="row">
    <div class="col-xs-4">
        <div class="list-group">
            <a class="list-group-item"
               ng-repeat="venue in results" ng-click="showMarker(venue)">
                {{venue.name}}<br>
                <!--{{venue.location.lat}}|{{venue.location.lng}}-->
            </a>
        </div>

    </div>
    <div class="col-sm-8">
        <div id="map-canvas"/>
    </div>
</div>


